html,
body,
header,
#intro {
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

.school-on-move{
  font-family: 'Indie Flower', cursive;
  font-size: 3em;
}

section{
  padding-top: 110px;
}

#intro {
    background: url("../img/school_wide.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #0E9961;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #0E9961;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #0E9961;
    }
  }